<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Statistics Webpage</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
</head>

<script>
    // Sends post request to the add summoner API
    function sendPostRequest() {
        var name = document.getElementById("nameInput").value;
        var url = "http://10.0.0.150:5000/addSummoner";
        var data = name;

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: data
        })
        .then(response => response.json())
        .then(responseData => {console.log(responseData);}) //Handles Successes
        .catch(error => {console.error(error); //Handles Errors
        });
    }

    // Reloads page on function
    function reloadPage(){
        location.reload();
    }
</script>


<body>

    <header>
        <div class="container">
            <h1>D-Tracker</h1>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="http://10.0.0.150:5000/getSummoners">Casts GET request for names http://10.0.0.150:5000/getsummoners</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Welcome to the DTRACKER Status page</h2>
        <br>
        <h4>Currently Tracking Names:</h4>
        <ol>
            <!-- For loop logic of flask template -->
            {%for i in value%}
            <li>{{i}}</li>
            {%endfor%}
        </ol>

        <label for="nameInput">Add Summoner:</label>
        <input type="text" id="nameInput" name="nameInput">
        <button type="button" onclick="sendPostRequest();reloadPage()">Submit</button>
    </div>

</body>
</html>