<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link href="https://fonts.cdnfonts.com/css/vcr-osd-mono" rel="stylesheet">
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/items.css" />
    <link rel="stylesheet" href="../static/summoners.css" />
    <link rel="stylesheet" href="../static/innerScoreboardChamps.css" />
    <link rel="stylesheet" href="../static/scoreboardChamps.css" />
    <link rel="stylesheet" href="../static/champs.css" />
    <link rel="stylesheet" href="../static/keystones.css" />
    <link rel="stylesheet" href="../static/runeCategories.css" />

    <script src="../static/scripts.js"></script>

    <title>M-Track</title>
  </head>

  <body class="bg-dark">

    <!-- Navbar -->
    <nav style="font-family: VCR OSD Mono, sans-serif" class="bg-dark navbar-dark fixed-top">
      <div class="container" style="min-width: auto !important; max-width: none !important;">
        <div class="navbar-nav" style="flex-direction: row;">
          <a href="/" class="nav-link navbar-brand" style="font-size: xx-large;">Home</a>
          <a href="matchHistory" class="nav-link navbar-brand" style="font-size: xx-large;">M-Tracker</a>
        </div>
      </div>
    </nav>


    <!-- Search Input -->
    <section class="searchSection text-dark pt-2">
      <div class="container maxWidth">

        <div class="input-group summoner-input searchContainer rounded-3">

          <input id="nameInput" style="height: 100%; font-family: VCR OSD Mono, sans-serif; outline: none; background: transparent; border: 0px; font-weight:bold; font-size: 120%;" type="text" class="form-control rounded-5 text-center shadow-none" placeholder="Game Name + #Tagline" />
          
          <button id="searchButton" class="btn btn-dark btn-sm rounded-3" style="font-weight:bold; font-size: 100%; font-family: VCR OSD Mono, sans-serif; outline: none; box-shadow: none;" type="button" onclick="summonerSearch()">TRACK</button>

        </div>
          
      </div>
    </section>
    <!-- Search Result -->
    <section class="searchSection text-dark pt-2">
      <div class="container" style="min-width: 100%; max-width:none;">
        <div class="align-items-center">
          <h3 id="responseParagraph" class="text-center fw-bold maxWidth" style="font-family: VCR OSD Mono, sans-serif; font-size: 200%; margin-left: auto; margin-right: auto;"></h3>

        </div>
      </div>
    </section>





    <!-- HTML Structure to Display Summoner Rank Data -->
    <div id="player-container" class="center"></div>
    <!-- HTML Structure to Display Data -->
    <div id="data-container" class="accordion center pt-2"></div>


    

    <div id="formControl" data-key="7"></div>
    
    <!-- Show More -->
    <div id="showMoreButtonDiv">
      
    </div>
    
    

    
    



    <script>
      var input = document.getElementById("nameInput");
      input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("searchButton").click();
        }
      });
    </script>

    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>


    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center position-relative"></footer>
    
  </body>
</html>