<table result="WIN" class="accordion-body" style="color: white;">
    <colgroup class="center">
        <col width="44">
        <col width="18">
        <col width="18">
        <col>
        <col width="68">
        <col width="98">
        <col width="120">
        <col width="48">
        <col width="56">
        <col width="175">
    </colgroup>
    <thead>
        <tr style="text-align: center;">
            <th colspan="3"><span class="result">Victory</span>(Blue Team)</th>
            <th>KDA</th>
            <th>Damage</th>
            <th>CS</th>
            <th>Item</th>
            <th>Win/Lose</th>
        </tr>
    </thead>

    <tbody id="${accordionBodyId}">
    </tbody>

</table>