<table result="WIN" class="css-1k3wlkv e1xcd88a0">
    <colgroup>
        <col width="44">
        <col width="18">
        <col width="18">
        <col>
        <col width="68">
        <col width="98">
        <col width="120">
        <col width="48">
        <col width="56">
        <col width="175">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4"><span class="result">Victory</span>(Blue Team)</th>
            <th>OP Score</th>
            <th>KDA</th>
            <th>Damage</th>
            <th>Wards</th>
            <th>CS</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        <tr result="WIN" class="overview-player overview-player--WIN css-1ya4cma e1i6zky90">
            <td class="champion">
                <a target="_blank" rel="noreferrer" href="/champions/warwick/build">
                    <div class="" style="position: relative;">
                        <img src="https://opgg-static.akamaized.net/meta/images/lol/champion/Warwick.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1702977255104" width="32" alt="Warwick">
                        <div class="level">17</div>
                    </div>
                </a>
            </td>
            <td class="spells">
                <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/spell/SummonerFlash.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" alt="Flash"></div>
                <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/spell/SummonerTeleport.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" alt="Teleport"></div>
            </td>
            <td class="runes">
                <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/perk/8437.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" alt="Grasp of the Undying"></div>
                <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/perkStyle/8000.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" alt="Precision"></div>
            </td>
            <td class="name">
                <div class="summoner-tooltip" style="position: relative;">
                    <a target="_blank" rel="noopener noreferrer" href="/summoners/na/Vino-LoL">
                        <div class="css-12ijbdy e1swkqyq0"><span class="css-ao94tw e1swkqyq1">Vino</span></div>
                    </a>
                </div>
                <div class="tier">
                    <div class="" style="position: relative;">diamond 3</div>
                </div>
            </td>
            <td class="op-score">
                <div class="wrapper">
                    <div class="score">5.1</div>
                    <div class="rank">
                        <div class="css-1bias8j e1i6zky91">5th</div>
                    </div>
                </div>
            </td>
            <td class="kda">
                <div class="k-d-a">
                    13/8/10 
                    <div class="" style="position: relative;">(45%)</div>
                </div>
                <div class="css-6nxjyb e1i6zky94">2.88:1</div>
            </td>
            <td class="damage">
                <div>
                    <div class="" style="position: relative;">
                        <div class="dealt">28,762</div>
                        <div class="progress">
                            <div class="fill" style="width: 69%;"></div>
                        </div>
                    </div>
                    <div class="" style="position: relative;">
                        <div class="taken">47,196</div>
                        <div class="progress--taken">
                            <div class="fill" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="ward">
                <div class="" style="position: relative;">
                    <div>0</div>
                    <div>10 / 1</div>
                </div>
            </td>
            <td class="cs">
                <div>176</div>
                <div>5.9/m</div>
            </td>
            <td class="items">
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/1055.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Doran's Blade"></div>
                </div>
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/6662.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Iceborn Gauntlet"></div>
                </div>
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/3748.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Titanic Hydra"></div>
                </div>
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/3158.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Ionian Boots of Lucidity"></div>
                </div>
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/3075.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Thornmail"></div>
                </div>
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/3082.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Warden's Mail"></div>
                </div>
                <div class="item">
                    <div class="" style="position: relative;"><img src="https://opgg-static.akamaized.net/meta/images/lol/item/3363.png?image=q_auto,f_webp,w_64,h_64&amp;v=1702977255104" width="22" alt="Farsight Alteration"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>























<table result="WIN" class="" style="color: white;">
    <colgroup>
        <col width="44">
        <col width="18">
        <col width="18">
        <col>
        <col width="68">
        <col width="98">
        <col width="120">
        <col width="48">
        <col width="56">
        <col width="175">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4"><span class="result">Victory</span>(Blue Team)</th>
            <th>KDA</th>
            <th>Damage</th>
            <th>Wards</th>
            <th>CS</th>
            <th>Item</th>
        </tr>
    </thead>

    <tbody id="${accordionBodyId}">
    </tbody>

</table>